.page-header
  %h1 Resend Confirmation Instructions
.row
  .col-md-9
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      = f.full_error :confirmation_token
      .form-inputs
        %p
          = f.input :email, required: true, autofocus: true, :input_html => { :class => "form-control", style: "width: 35%"}
      .form-actions
        %p
          = f.button :submit, "Send", class: 'btn btn-primary'
  .col-md-3
    %ul.nav.nav-list
      %li
        %a{href: main_app.root_path} Home
      %li
        %a{href: main_app.new_user_session_path} Login
      %li
        %a{href: main_app.new_user_registration_path} Register