.page-header
  %h1 Register
.row
  .col-md-9
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render 'partials/errors', object: resource
      %p
        = f.label :email
        = f.email_field :email, autofocus: true, :class => "form-control", style: "width: 25em"
      %p
        = f.label :username
        = f.text_field :username, :class => "form-control", style: "width: 15em"
      %p
        = f.label :password
        = f.password_field :password, :class => "form-control", style: "width: 15em"
      %p
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :class => "form-control", style: "width: 15em"
      %p
        = f.submit "Register", class: 'btn btn-primary'
  .col-md-3
    %ul.nav.nav-list
      %li
        %a{href: main_app.root_path} Home
      %li
        %a{href: main_app.new_user_session_path} Login
