%ol.breadcrumb
  %li
    %a{href: root_path} Home
  %li
    %a{href: downloads_path} Downloads

%ul.nav.nav-tabs{role: "tablist"}
  - JOBS.each do |job|
    %li{class: "#{'active' if job == params[:id]}"}
      %a{href: download_path(job)} #{job}
.container
  .row
    .col-md-9
      = paginate @builds
      %table.table.table-striped{align: "center"}
        %tr
          %th.text-center ID
          %th.text-center Version
          %th.text-center Type
          %th.text-center Download
        - @builds.each do |build|
          %tr
            %td.text-center
              %a{href: build[:url], target: "_blank"}= '#' + build[:id].to_s
            %td.text-center 1.8
            %td.text-center Release
            %td.text-center
              %a{href: build[:url], target: "_blank"}
                %i.fa.fa-download
      = paginate @builds
    .col-md-3
      %div{style: "margin-top: 30px; background: #ed8106 linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: white; border-radius: 6px 6px 0px 0px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-bottom: 0px;"}
        %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
          %i.fa.fa-download
          Downloads
        %div{style: "background-color: white; color: black; text-align: center; padding: 10px;"}
          This page is for Sponge and SpongeAPI downloads, which are available to the public, and this page provides a nice interface for downloading things so that you dont have to deal with the Jenkins CI, and so new users don't get confused by the complexity of it!
