- if @plugin.allow_comments
  - if current_user
    .panel.panel-default{style: "margin-top: 30px;"}
      .panel-heading
        Submit a Comment
        .pull-right
          %i.fa.fa-times.form-collapse{"data-toggle" => "collapse", "data-target" => "#form-body"}
      .panel-body.collapse#form-body
        = render 'comments/form'
  - else
    %p
      %a{href: new_user_session_path} Login
      to post a comment.
  %h3 Comments
  - @plugin.comments.reject(&:new_record?).each do |comment|
    .panel.panel-default{style: "margin-top: 20px;"}
      .panel-body
        .row
          .col-md-1.col-sm-1.col-xs-4
            = avatar(comment.user, :size => 60)
          .col-md-11.col-sm-11.col-xs-8
            .content
              .user
                = profile_link(comment.user)
                %small= time_ago_in_words(comment.created_at) + ' ago'
              .text
                = comment.content