= form_for @plugin do |f|
  .container
    = render 'partials/errors', object: @plugin
    %p
      = f.label :name
      = f.text_field :name, class: 'form-control'
      .help-block The name that you would like to give your plugin, which can not be changed.
    %p
      = f.label :license
      = f.select(:license, LICENSES.map { |value| [ value, value ] }, {}, {class: 'form-control'})
    %p
      = f.label :custom_license
      = f.text_field :custom_license, class: 'form-control'
      .help-block Select the custom option above, and enter a name for your custom license.
    %p
      = f.label :custom_text
      = f.text_area :custom_text, class: 'form-control', rows: 6
      .help-block The text display when a user views your plugin's license.
    %p
      = f.label :summary
      = f.text_field :summary, class: 'form-control'
      .help-block This is a quick one line summary of your plugin.
    %p
      = f.label :body
      = f.text_area :body, class: 'form-control', rows: 8
      .help-block This is the content that will go into the front page of your plugin. You can use markdown to populate this text area.
    %p
      = f.label :primary_category
      = f.select(:primary_category, CATEGORIES.map { |value| [ value, value ] }, {}, {class: 'form-control'})
      .help-block Select the category that your plugin primarily fits into.
    %p
      = f.label :tag_list, 'Categories'
      - CATEGORIES.each do |c|
        %br/
        = f.check_box :tag_list, { :multiple => true }, "#{c}", nil
        = c
      .help-block Select up to four categories for your plugin.
    %p
      = f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: "Saving..." }
