= form_for @plugin do |f|
  .container
    %p
      = f.label :name
      = f.text_field :name, class: 'form-control', style: "width: 23em;"
      .help-block The name that you would like to give your plugin, which can not be changed.
    %p
      = f.label :summary
      = f.text_field :summary, class: 'form-control', style: "width: 30em;"
      .help-block This is a quick one line summary of your plugin.
    %p
      = f.label :body
      = f.text_area :body, class: 'form-control', style: "width: 75em;", rows: 8
      .help-block This is the content that will go into the front page of your plugin. You can use markdown to populate this text area.
    %p
      = f.label :tag_list, 'Categories'
      %br/
      Admin
      = f.check_box :tag_list, { :multiple => true }, 'Admin', nil
      %br/
      Roleplay
      = f.check_box :tag_list, { :multiple => true }, 'Roleplay', nil
      %br/
      Fun
      = f.check_box :tag_list, { :multiple => true }, 'Fun', nil
      %br/
      Economy
      = f.check_box :tag_list, { :multiple => true }, 'Economy', nil
      %br/
      Mechanics
      = f.check_box :tag_list, { :multiple => true }, 'Mechanics', nil
    %p
      = f.submit 'Submit', class: 'btn btn-primary'
