%h2= @plugin.name
.row
  .col-md-12
    %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 5px; background-color: white;"}
      .container{style: "padding: 10px 0px;"}
        .row
          .col-md-8
            %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 10px; background-color: white;"}
              = GitHub::Markdown.render(@plugin.body).html_safe
          .col-md-4
            .download.text-center{style: "font-size: 150%; margin-bottom: 5px;"}
              %i.fa.fa-download
              Download
            - if current_user and (current_user == @plugin.user or current_user.admin?)
              %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-top: 20px;"}
                %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
                  %i.fa.fa-database
                  Manage
                %div{style: "background-color: white; color: black; padding: 10px;"}
                  %b Edit
                  %br
                  %b Upload File
                  %br
                  %b Delete
            %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-top: 20px;"}
              %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
                %i.fa.fa-info
                Information
              %div{style: "background-color: white; color: black; padding: 10px;"}
                %b Date Created
                %p.plugin-indent
                  = time_ago_in_words(@plugin.created_at)
                  ago
                %b Categories
                %p.plugin-indent= @plugin.tag_list.join(', ')
                %b Statistics
                %ul
                  %li Downloads: 15215
                  %li Views: 15151215
                %b Last Update
                %p.plugin-indent
                  = time_ago_in_words(@plugin.updated_at)
                  ago
                %b Downloads
                %ul
                  %li Download v1.0
                  %li Download v0.9
                  %li Download v0.8.8
                  %li More Downloads
            %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-top: 20px;"}
              %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
                %i.fa.fa-pencil
                Authors
              %div{style: "background-color: white; color: black; padding: 10px;"}
                .row
                  .col-md-2
                    = avatar(@plugin.user, :size => 60)
                  .col-md-10{style: "vertical-align: middle; min-height: 60px;"}
                    = link_to @plugin.user.username, profile_path(@plugin.user.username)
                    %br/
                    Author
