- content_for :head do
  %meta{:content => "Sponge Plugin #{@plugin.name}", :name => "description"}
  %meta{:content => "Sponge, Plugins, #{@plugin.name}, Download, Wiki, Help, Info", :name => "keywords"}
- content_for :title do @plugin.name end
%ol.breadcrumb
  %li
    = link_to 'Home', root_path
  %li
    = link_to 'Plugins', plugins_path
  %li
    = link_to @plugin.name, @plugin
.row
  .col-md-12
    %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 5px; background-color: white;"}
      .container{style: "padding: 10px 0px;"}
        .row
          .col-xs-8
            %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 10px; background-color: white;"}
              = GitHub::Markdown.render(@plugin.body).html_safe
            - if @plugin.allow_comments
              - if current_user
                .panel.panel-default{style: "margin-top: 30px;"}
                  .panel-heading
                    Submit a Comment
                    .pull-right
                      %i.fa.fa-times.form-collapse{"data-toggle" => "collapse", "data-target" => "#form-body"}
                  .panel-body.collapse#form-body
                    = render 'comments/form'
              - else
                %p
                  %a{href: new_user_session_path} Login
                  to post a comment.
              %h3 Comments
              - @plugin.comments.reject(&:new_record?).each do |comment|
                .panel.panel-default{style: "margin-top: 20px;"}
                  .panel-body
                    .row
                      .col-md-1
                        = avatar(comment.user, :size => 60)
                      .col-md-11
                        .content{style: "margin-left: 20px;"}
                          .user
                            = profile_link(comment.user)
                            %small= time_ago_in_words(comment.created_at) + ' ago'
                          .text
                            = comment.content
          .col-xs-4
            .download.text-center{style: "font-size: 150%; margin-bottom: 5px;"}
              .row
                .col-md-6
                  %i.fa.fa-download
                  = link_to 'Download', plugin_plugin_files_path(@plugin), class: 'no-deco'
                .col-md-6
                  %i.fa.fa-file-o
                  = link_to 'Wiki', plugin_plugin_pages_path(@plugin), class: 'no-deco'
            - if current_user and (current_user == @plugin.user or current_user.admin?)
              %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-top: 20px;"}
                %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"}
                  %i.fa.fa-database
                  Manage
                %div{style: "background-color: white; color: black; padding: 10px;"}
                  %b= link_to 'Edit Plugin', edit_plugin_path(@plugin), class: 'no-deco'
                  %br
                  %b= link_to 'Upload File', new_plugin_plugin_file_path(@plugin), class: 'no-deco'
                  %br
                  %b= link_to 'Delete', plugin_path(@plugin), class: 'no-deco', method: :delete, data: {confirm: 'Are you sure you want to delete this plugin? This can not be undone.'}
                  %br
                  %b= link_to 'New Wiki Page', new_plugin_plugin_page_path(@plugin), class: 'no-deco'
            %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-top: 20px;"}
              %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"}
                %i.fa.fa-info
                Information
              %div{style: "background-color: white; color: black; padding: 10px;"}
                %b Date Created
                %p.plugin-indent
                  = time_ago_in_words(@plugin.created_at)
                  ago
                %b Categories
                %p.plugin-indent
                  = categories_builder(@plugin)
                %b License
                %p.plugin-indent
                  - if @plugin.license == "Custom"
                    %a.no-deco#license{title: "#{@plugin.custom_license}", "data-content" => "#{@plugin.custom_text}", "data-toggle" => "popover"}= @plugin.custom_license
                    :javascript
                      $('#license').popover();
                  - else
                    %a{href: "https://tldrlegal.com/"}= @plugin.license
                %b Statistics
                %ul
                  %li
                    Downloads:
                    = @plugin.downloads
                  %li
                    Views:
                    = @plugin.views
                %b Last Update
                %p.plugin-indent
                  = time_ago_in_words(@plugin.updated_at)
                  ago
                %b Downloads
                %ul
                  - if @plugin.plugin_files.any?
                    - @plugin.plugin_files.each do |download|
                      %li= link_to download.file.file.filename, download.file.url
                    %li
                      %a{href: plugin_plugin_files_path(@plugin)} More Downloads
                  - else
                    %li No downloads.
            %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30); margin-top: 20px;"}
              %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"}
                %i.fa.fa-pencil
                Authors
              %div{style: "background-color: white; color: black; padding: 10px;"}
                .row
                  .col-md-2
                    = avatar(@plugin.user, :size => 60)
                  .col-md-10{style: "vertical-align: middle; min-height: 60px;"}
                    = link_to @plugin.user.username, user_path(@plugin.user)
                    %br/
                    Author
