.alert.alert-danger We recommend this method as a last resort. Although we are very careful with security measures, we recommend authenticating with our server.

= form_tag mc_post_credentials_path, method: 'post' do
  %p
    = label_tag 'Username / Email:'
    = text_field :account, :mc_username, class: 'form-control'
  %p
    = label_tag 'Password:'
    = password_field :account, :mc_password, class: 'form-control'
  = submit_tag 'Submit', class: 'btn btn-primary', data: { disable_with: "Verifying..." }