%ol
  %li
    Connect to
    %code auth.jake0oo0.me
    in your Minecraft game.
  %li The server will kick you with a token that you can enter below along with your username.
  %li If the token and your username match the token that you were given and your UUID, your account will be authenticated with the website!

= form_tag mc_post_server_path, method: 'post' do
  %p
    = label_tag 'Username:'
    = text_field :verification, :username, class: 'form-control'
  %p
    = label_tag 'Token:'
    = text_field :verification, :token, class: 'form-control'
  = submit_tag 'Submit', class: 'btn btn-primary', data: { disable_with: "Verifying..." }