- content_for :head do
	%meta{:content => "Unturned Servers Revisions", :name => "description"}
	%meta{:content => "Servers, Unturned, Changes, Revisions, Github", :name => "keywords"}
- current_repo = @repos.find {|repo| repo[:name] == params[:id]}
- content_for :title do "Revisions: #{current_repo[:friendly]}" end
.page-header
	%h1 Revisions
.row
	.col-md-2
		%ul.nav.nav-pills.nav-stacked
			- @repos.each do |repo|
				%li{class: "#{'active' if repo[:name] == params[:id]}"}
					%a{href: revision_path(repo[:name])} #{repo[:friendly]}
		.vertical-div
	.col-md-10
		- if not current_repo[:private]
			.alert.alert-success
				%i.fa.fa-github
				This repository is open source. You can contribute on
				%a.alert-link{href: current_repo[:url]} Github.
		%table.table.table-bordered.table-striped
			%tr
				%th{width: "5%"} SHA
				%th{width: "8%"} Author
				%th{width: "20%"} Commit Message
				%th{width: "10%"} Time
			- @revisions.each do |revision|
				%tr
					%td
						%a{href: revision[:url], target: "_blank"}= revision[:sha][0..6]
					%td= revision[:author]
					%td= revision[:message]
					%td
						= time_ago_in_words(revision[:date])
						ago
		= paginate @revisions

