.container 
  = render 'context'
  %table.table.table-bordered.table-striped.footable
    %thead
      %th Plugin
      %th{data: { hide: "phone, tablet" }} Download Name
      %th{data: { hide: "phone, tablet" }} MC Version
      %td{data: { hide: "phone, tablet" }} File
      %td{colspan: 2, data: { hide: "phone, tablet" }}  
    %tbody
      - if @files.any?
        - @files.each do |file|
          %tr
            %td= link_to file.plugin.name, file.plugin
            %td= file.name
            %td= file.mc_version
            %td= link_to file.file.file.filename, file.file.url
            %td{align: "center"}= link_to 'Approve', plugin_plugin_file_approve_path(file.plugin, file)
            %td{align: "center"}= link_to 'Deny', plugin_plugin_file_deny_path(file.plugin, file)
      - else
        %tr
          %td{:align => "center", :colspan => "5", style: "background-color: white; color: darkgray;"} No downloads need to be moderated.
:javascript
    $('.footable').footable();