= form_for([@plugin, @page]) do |f|
  = render 'partials/errors', object: @page
  %p
    = f.label :title
    %br/
    = f.text_field :title, class: 'form-control'
  %p
    = f.label :body
    %br/
    = f.text_area :body, class: 'form-control', rows: 8
  %p
    = f.submit 'Save', class: 'btn btn-primary'
