- content_for :head do
  %meta{:content => "Sponge Plugin Wiki Page", :name => "description"}
  %meta{:content => "Sponge, Plugins, Wiki, Help", :name => "keywords"}
= form_for([@plugin, @page]) do |f|
  = render 'partials/errors', object: @page
  %p
    = f.label :title
    %br/
    = f.text_field :title, class: 'form-control'
  %p
    = f.label :body
    %br/
    = f.text_area :body, class: 'form-control', rows: 8
  %p
    = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: "Saving..." }
