- content_for :head do
  %meta{:content => "Sponge Plugin Wiki Pages", :name => "description"}
  %meta{:content => "Sponge, Plugin, Help, Wiki, #{@plugin.name}", :name => "keywords"}
- content_for :title do 'Wiki Pages' end
%ol.breadcrumb
  %li
    = link_to 'Home', root_path
  %li
    = link_to 'Plugins', plugins_path
  %li
    = link_to @plugin.name, @plugin
  %li
    = link_to 'Wiki', plugin_plugin_pages_path(@plugin)
.row
  .col-md-12
    %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 5px; background-color: white;"}
      .container{style: "padding: 10px 0px;"}
        .row 
          .col-md-8
            %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 10px; background-color: white;"}
              %table.table.table-striped
                %thead
                  %tr
                    %th ID
                    %th Article
                    %th Last Updated
                %tbody
                  - @pages.each do |page|
                    %tr
                      %td= page.id
                      %td= link_to page.title, [@plugin, page]
                      %td
                        = time_ago_in_words(page.updated_at)
                        ago
          .col-md-4
            - if current_user and (current_user == @plugin.user or current_user.admin?)
              %div{style: "background: #f1f1ec; linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); color: black; border-radius: 6px; box-shadow: 0 0 3px rgba(0,0,0,.30);"}
                %p{style: "padding-left: 15px; font-size: 16px; padding-top: 10px;"} 
                  %i.fa.fa-database
                  Manage
                %div{style: "background-color: white; color: black; padding: 10px;"}
                  = link_to 'New Page', new_plugin_plugin_page_path(@plugin)
                  