- content_for :head do
  %meta{:content => "Sponge Plugin Downloads for #{@plugin.name}", :name => "description"}
  %meta{:content => "Sponge, Downloads, #{@plugin.name}, Files", :name => "keywords"}
- content_for :title do "#{@plugin.name} Downloads" end
.container
  %ol.breadcrumb
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Plugins', plugins_path
    %li
      = link_to @plugin.name, @plugin
    %li
      = link_to 'Downloads', plugin_plugin_files_path(@plugin)

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th MC Version(s)
        %th Type
        %th Date
        %th Downloads
        %th Filename
    %tbody
      - if @downloads.any?
        - @downloads.each do |download|
          %tr{class: "#{'warning' unless download.approved?}"}
            %td
              = link_to download.name, [@plugin, download], class: 'no-deco'
            %td= download.mc_version
            %td= download.release_type
            %td
              = ago(download.created_at)
            %td= download.downloads
            %td= link_to download.file.file.filename, plugin_plugin_file_download_path(@plugin, download), class: 'no-deco'
      - else
        %tr
          %td{:align => "center", :colspan => "6", style: "background-color: white; color: darkgray;"} No downloads found.