- content_for :head do
  %meta{:content => "Sponge Plugin Downloads", :name => "description"}
  %meta{:content => "Sponge, Plugins, Download", :name => "keywords"}
- content_for :title do @download.name end
%ol.breadcrumb
  %li
    = link_to 'Home', root_path
  %li
    = link_to 'Plugins', plugins_path
  %li
    = link_to 'Downloads', plugin_plugin_files_path(@plugin)
  %li
    = link_to @download.name, [@plugin, @download]

.row
  .col-md-12
    %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 5px; background-color: white;"}
      .container{style: "padding: 10px 0px;"}
        .row
          .col-md-8
            %div{style: "border-radius: 6px; box-shadow: 0 0 6px rgba(0,0,0,.30); margin-bottom: 0px; padding: 0px 10px; background-color: white;"}
              %h2 Changelog:
              -if not @download.changelog.empty?
                = GitHub::Markdown.render(@download.changelog).html_safe
              - else
                %i#none A changelog was not supplied for this download.
              %h2 Notes:
              - if not @download.notes.empty?
                = GitHub::Markdown.render(@download.notes).html_safe
              - else
                %i#none No notes have been added to this download.
          .col-md-4
            .download.text-center{style: "font-size: 150%; margin-bottom: 5px;"}
              %i.fa.fa-download
              = link_to 'Download', @download.file.url, class: 'no-deco'
            - if current_user and (current_user == @plugin.user or current_user.admin?)
              .panel.panel-default{style: "margin-top: 20px;"}
                .panel-heading
                  %i.fa.fa-database
                  Manage
                .panel-body
                  %b= link_to 'Delete', plugin_plugin_file_path(@plugin, @download), class: 'no-deco', method: :delete, data: {confirm: 'Are you sure you want to delete this file? This can not be undone.'}
            .panel.panel-default{style: "margin-top: 20px;"}
              .panel-heading
                %i.fa.fa-info
                Information
              .panel-body
                %b Date Uploaded
                %p.plugin-indent
                  = time_ago_in_words(@download.created_at)
                  ago
                %b Statistics
                %ul
                  %li 
                    Downloads:
                    = @plugin.downloads