%tr{:class => "topic #{cycle('odd', 'even')} #{topic.locked? ? 'locked' : 'unlocked'}"}
  %td{style: "display: inline-block; width: 80px", align: 'center'}= forem_avatar(topic.user, :size => 48)
  %td.byline
    %subject
      = link_to forem_emojify(topic.subject), forem.forum_topic_path(@forum, topic)
      .label.label-warning= new_since_last_view_text(topic)
      - if topic.locked?
        %i.fa.fa-lock
      - if topic.pinned?
        %i.fa.fa-flag
      - if topic.hidden?
        %i.fa.fa-eye-slash
    .started-by{style: "font-size: 14px;"}
      - started = relevant_posts(topic).first
      = link_to started.user.username, main_app.profile_path(started.user.username), class: 'no-deco'
      = time_ago_in_words(started.created_at)
      ago
  %td.latest-post.no-deco
    = link_to_latest_post(topic)
  %td.posts-count.text-center= relevant_posts(topic).count
  %td.views-count.text-center= topic.views_count


