.page-header
  %h1 
    = @forum.title
    %small
      = @topic.subject.length > 16 ? @topic.subject[0..16] + "..." : @topic.subject
      - if @topic.locked?
        %i.fa.fa-lock
      - if @topic.pinned?
        %i.fa.fa-flag
      - if @topic.hidden?
        %i.fa.fa-eye-slash  

    .pull-right
      .btn-group
        - if @topic.can_be_replied_to? && can?(:reply, @topic)
          = link_to t(".reply"), forem.new_forum_topic_post_path(@forum, @topic), :class => "btn btn-primary "
        - if @topic.user == forem_user || forem_admin?
          = link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger"
        - if forem_user
          - if !@topic.subscriber?(forem_user.id)
            = link_to t(".subscribe"), forem.subscribe_forum_topic_path(@forum, @topic), :method => :post, :class => "btn btn-success"
          - else
            = link_to t(".unsubscribe"), forem.unsubscribe_forum_topic_path(@forum, @topic), :method => :post, :class => "btn btn-danger"
      - if forem_admin?
        .btn-group
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            Moderation
          %ul.dropdown-menu#left-dropdown{role: "menu"}
            %li
              = link_to t('forem.topic.links.edit'), forem.edit_admin_forum_topic_path(@forum, @topic)
            %li 
              = link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_forum_topic_path(@forum, @topic), :method => :put
            %li
              = link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_forum_topic_path(@forum, @topic), :method => :put
            %li
              = link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_forum_topic_path(@forum, @topic), :method => :put
- if @topic.pending_review?
  .alert.alert-info This topic is currently pending review of the moderators. Only the creator and the mods may view it.
  #topic_moderation
    - if forem_admin_or_moderator?(@topic.forum)
      = form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f|
        = render "/forem/moderation/options", :f => f

%ol.breadcrumb
  %li
    %a{href: main_app.root_path} Home
  %li
    %a{href: forem.root_path} Forums
  %li
    = link_to forem_emojify(@forum.title), forem.forum_path(@forum)
  %li
    = link_to forem_emojify(@topic.subject), forem.forum_topic_path(@forum, @topic)

.container
  .row
    = forem_pages_widget(@posts)
    = render :partial => "forem/posts/post", :collection => @posts
    = forem_pages_widget(@posts)
