%head
  %title
    - if content_for? :title
      Sponge :: #{yield :title}
    - else
      Sponge
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
  %meta{:charset => "UTF-8"}
  - if content_for? :head
    = yield(:head)
  = favicon_link_tag
  = auto_discovery_link_tag(:rss, "https://sponge.jake0oo0.me")
  = stylesheet_link_tag 'application', media: 'all'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0+2/united/bootstrap.min.css'
  = javascript_include_tag 'application'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js'
  = javascript_include_tag 'https://cdn.rawgit.com/jomo/ago.js/master/ago.min.js'
  = csrf_meta_tags
%body
  = render 'partials/navbar'
  .container.alert-container{style: "margin-top: 55px;"}
    = render 'partials/alerts'
  = yield
  = render 'partials/footer'
  = render 'partials/contact'
  = render 'partials/analytics'
