%head
  %title
    - if content_for? :title
      Sponge :: #{yield :title}
    - else
      Sponge
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
  %meta{:charset => "UTF-8"}
  - if content_for? :head
    = yield(:head)
  = favicon_link_tag
  = stylesheet_link_tag 'application', media: 'all'
  = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
  = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  = render 'partials/navbar'
  .header-alert
    .alert.alert-danger{role: "alert"}
      Unfortunately, I have run out of funds to host this on a VPS, and am now hosting on Heroku. This means that file uploads will not stay between updates, but most of the site is still functional.
    = render 'partials/alerts'
  = yield
  = render 'partials/footer'
  = render 'partials/contact'
  = render 'partials/analytics'